* {
    margin: 0;
    padding: 0;
}

#canvas {
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
    width: calc(640px * 0.8);
    height: calc(480px * 0.8);
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}